<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd">
<f:layout name="Default" />

<f:section name="content">

	<h1>{f:translate(key: 'migrate.actionMenu.2')}</h1>
	<p class="lead">{f:translate(key: 'migrate.support.lead')}</p>

	<h3>{f:translate(key: 'migrate.sponsor.head')}</h3>
	<p>{f:translate(key: 'migrate.sponsor.lead')}</p>
	<br>
	<h4>{f:translate(key: 'migrate.sponsor.1')}</h4>
	<p><a href="https://www.dt-internet.de" target="_blank">www.dt-internet.de</a></p>
	<span class="dt-logo"><img src="/typo3conf/ext/gridtocontainer/Resources/Public/Icons/dt_logo.png"/></span>
</f:section>
</html>
